[submodule "Extern/Deviare-InProc"]
	path = Extern/Deviare-InProc
	url = https://github.com/nektra/Deviare-InProc
[submodule "Extern/amy"]
	path = Extern/amy
	url = https://github.com/liancheng/amy
[submodule "Extern/asyncplusplus"]
	path = Extern/asyncplusplus
	url = https://github.com/Amanieu/asyncplusplus
[submodule "Extern/lazy_importer"]
	path = Extern/lazy_importer
	url = https://github.com/JustasMasiulis/lazy_importer
[submodule "Extern/tinyxml2"]
	path = Extern/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "Extern/spdlog"]
	path = Extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Extern/cryptopp"]
	path = Extern/cryptopp
	url = https://github.com/weidai11/cryptopp
[submodule "Extern/rtti-obfuscator"]
	path = Extern/rtti-obfuscator
	url = https://github.com/koemeet/rtti-obfuscator
[submodule "Extern/xorstr"]
	path = Extern/xorstr
	url = https://github.com/JustasMasiulis/xorstr
[submodule "Extern/ClanLib"]
	path = Extern/ClanLib
	url = https://github.com/sphair/ClanLib
[submodule "Extern/rewolf-wow64ext"]
	path = Extern/rewolf-wow64ext
	url = https://github.com/mq1n/rewolf-wow64ext
[submodule "Extern/ReflectiveDLLRefresher"]
	path = Extern/ReflectiveDLLRefresher
	url = https://github.com/CylanceVulnResearch/ReflectiveDLLRefresher
